@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 50, 50, 50;
  --background-rgb: 255, 255, 255;
  --text-rgb: 255, 255, 255;
  --border-color-rgb: 224, 224, 224; /* Default border color */
  --divide-color-rgb: 224, 224, 224; /* Default divide color */
}

.dark:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 15, 15, 15;
  --text-rgb: 0, 0, 0;
  --border-color-rgb: 64, 64, 64; /* Dark mode border color */
  --divide-color-rgb: 48, 48, 48; /* Dark mode divide color */
}

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  /* Can directly apply colors : hard coded values for light and dark */
  .bg-color {
    @apply bg-white dark:bg-black;
  }

  /* Can use custom color defined in the tailwind.config.css file */
  .bg-text {
    @apply text-black dark:text-white;
  }

  /* This is how you apply the border-color for both light and dark mode */
  .border {
    @apply border-gray-200 dark:border-gray-800;
  }

  .divide-y {
    @apply divide-gray-200 dark:divide-gray-800;
  }

  .divide-x {
    @apply divide-gray-200 dark:divide-gray-800;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  overflow-y: scroll !important;
}

html {
  scroll-behavior: smooth;
}

article {
  scroll-margin-top: 125px;
}

section {
  scroll-margin-top: 125px;
}

/* Add custom border and divide colors */
/* .border {
  border-color: rgb(var(--border-color-rgb));
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  border-color: rgb(var(--divide-color-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.lock-scrolling {
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* REACT CALENDAR CUSTOM CSS CLASSES */

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 8px;
  /* font-family: Arial, Helvetica, sans-serif; */
  line-height: 1.125em;
  --tw-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  --tw-shadow-colored: 2px 4px 12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  border-radius: 8px;
  margin: 2px;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
  border-radius: 8px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ff7070;
  color: white;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ff8080;
}

.react-calendar__tile--hasActive {
  background: #446ccf;
  color: white;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #2d52ae;
}

.react-calendar__tile--active {
  background: #446ccf;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #2d52ae;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
